
*.iml
Android/Android_AugmentedReality/AugmentedReality/.idea/gradle.xml
Android/Android_AugmentedReality/AugmentedReality/.idea/gradle.xml
Android/Android_AugmentedReality/AugmentedReality/app/app.iml
Android/Android_AugmentedReality/AugmentedReality/libraries/tess-two/tess-two.iml
Android/Android_AugmentedReality/AugmentedReality/.idea/gradle.xml
